<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55865567936-bho6gqgkgk7tpv0orpkmfe2qmo2v6l8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55865567936-bho6gqgkgk7tpv0orpkmfe2qmo2v6l8e</string>
	<key>API_KEY</key>
	<string>AIzaSyCH7vIhkWq_mf90lAnSnw8xB3PpLFEuB6k</string>
	<key>GCM_SENDER_ID</key>
	<string>55865567936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.accesoriosParaMascotas</string>
	<key>PROJECT_ID</key>
	<string>accesorios-para-mascotas-96d2a</string>
	<key>STORAGE_BUCKET</key>
	<string>accesorios-para-mascotas-96d2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55865567936:ios:825c21de7a79f465275b25</string>
</dict>
</plist>